:root {
    --ces-header-height: 43px;
}

.bar-item {
    color: white;
    top: 50%;
    font-size: 20px;
    float: left;
    display: block;
    text-align: center;
    z-index: 99999;
}

.ces-dropdown {
    display: inline-block;
    z-index: 99999;
    padding: 10px;
}

#ces-header.a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    z-index: 99999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 99999;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.ces-dropdown:hover .dropdown-content {
    display: block;
}

#ces-header {
    list-style-type: none;
    margin: 0px;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99999;
    left: 0px;
    height: var(--ces-header-height);
    display: inline-block;
}

#ces-header-title {
    background-color: #7A8044;
    padding: 10px;
    padding-bottom: 3px;
    margin-right: 10px;
}

#nav-tray-portal {
    top: var(--ces-header-height);
    height: calc(100% - var(--ces-header-height));
}

#header {
    top: var(--ces-header-height);
    height: calc(100% - var(--ces-header-height));
}

.ic-Layout-wrapper {
    min-height: auto !important;
    top: var(--ces-header-height);
}

.ic-Dashboard-header {
    top: var(--ces-header-height) !important;
}

#application {
    top: var(--ces-header-height);
    margin-top: 50px;
    height: auto !important;
    display: block;
    min-height: calc(100vh - var(--ces-header-height)) !important;
}